body{
  font-family: Poppins, sans-serif;
  background-color: rgb(216, 218, 166);
  background: #f2f2f2;
  /* text-align: center; */
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  justify-content: center;
}
#inputField{
  width: 250px;
  padding: 10px 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: 0.6s;
} 
#inputField:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
#myButton{
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
#myButton:hover {
  background-color: #155799;
}
#username-label {
  display: block;
  font-size: 22px;
  font-weight: 600;
  color: #306c0d;
  margin-bottom: 10px;
  text-transform: capitalize; 
}
#main{
  color: #bc3da9;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
#h3{
  color:rgb(236, 81, 81)
}

